@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <h1 localize class="display-4">Καλώς ήρθες</h1>
    <p class="col-12" localize>Αν θέλετε να κατασκευάσετε ένα πλοίο, μην συνθλιβείτε τους ανθρώπους μαζί για να συλλέξετε ξύλα και να μην τους αναθέσετε καθήκοντα και εργασία, αλλά να τους διδάξετε να επιθυμούν την ατελείωτη απεραντοσύνη της θάλασσας.</p>
</div>

<div class="text-center">
    <p localize lang="de">Dieser Text ist auf Deutsch</p>
    <p><i>You may need to go to <a href="https://www.weblocalizer.eu">weblocalizer.eu</a> if you want to edit the translations of above texts.</i></p>
</div>

