@using System.Globalization

<div class="navbar-nav">
    <div id="lang-selector" class="btn-group" role="group">
        <!-- for BS 4.3.1 data-bs-toggle attr should be data-toggle -->
        <button id="btnGroupLang" type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            @CultureInfo.CurrentCulture.EnglishName
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupLang">
            <li><a class="dropdown-item" href="#">Greek</a></li>
            <li><a class="dropdown-item" href="#">Italian</a></li>
            <li><a class="dropdown-item" href="#">French</a></li>
            <li><a class="dropdown-item" href="#">German</a></li>
        </ul>
    </div>
</div>