@page "/"

@using System.Globalization
@using WebLocalizerBlazorSrvDemo.Components

<h1>
    <Localize>Hello, world!</Localize>
</h1>

<Localize>Welcome to your new app.</Localize>

<SurveyPrompt Title="How is Blazor working for you?" />
