@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 localize class="display-4">Welcome</h1>
    <p localize>If you want to build a ship, don’t drum up people together to collect wood and don’t assign them tasks and work, but rather teach them to long for the endless immensity of the sea.</p>
</div>

<div class="text-center">
    <p localize lang="de">Dieser Text ist auf Deutsch</p>
    <p><i>You may need to go to <a href="https://www.weblocalizer.eu">weblocalizer.eu</a> if you want to edit the translations of above texts.</i></p>
</div>
